/* GENERALS */
:root {
	--color-dark-color: #141922;
	--color-dark-grey: #282828;
	--color-black: #000000;
	--color-white: #FFFFFF;
	--color-grey: #717171;
	--color-light-grey: #C1C1C1;
	--color-highlight: #ADFF2F;
  --color-navy: #080B12;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Montserrat', sans-serif;
}
img{
  width: 100%;
}

ul li, a{
  text-decoration: none;
  list-style: none;
}



/* CONTAINERS */
.wrapper{
  width: 100%;
  height: 100vh;
  background-color: red;
}

main{
  width: 100%;
  height: 100%;
  background-color: #ADFF2F;
}
#aside-menu{
  width: 250px;
  background-color: aquamarine;
}
#main-content{
  width: calc(100% - 250px);
  background-color: burlywood;
  padding: 90px 10px 10px 10px;
}
.half-container{
  width: 60%;
  margin: 0 auto;
}

/* UTILITIES */
/* .debug{
  border: 1px solid black;
} */
.text-center{
  text-align: center;
}
.text-upp{
  text-transform: uppercase;
}


  /* Paddingg */
  .padd{
    padding: 10px;
  }
  .padd-m{
    padding: 20px;
  }
  .padd-l{
    padding: 30px;
  }
  .padd-xl{
    padding: 40px;
  }
  .special-padd{
    padding: 10px 10px 10px 0;
  }

    /* Asse y */
    .paddy{
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .paddy-m{
      padding-top: 20px;
      padding-bottom: 20px;
    }
    .paddy-l{
      padding-top: 30px;
      padding-bottom: 30px;
    }

    /* Asse x */
    .paddx{
      padding-right: 10px;
      padding-left: 10px;
    }
    .paddx-m{
      padding-right: 20px;
      padding-left: 20px;
    }
    .paddx-l{
      padding-right: 30px;
      padding-left: 30px;
    }
  

/* FLEX */
.d-flex{
  display: flex;
}
.d-flex-reverse{
  display: flex;
  flex-flow: row-reverse;
}
.align-center{
  align-items: center;
  align-content: center;
}
.justify-around{
  justify-content: space-around;
}
.colum{
  display: flex;
  flex-flow: column nowrap;
}
.space-between{
  justify-content: space-between;
}
/* ***************************************** */

/* TOPBAR */
#topbar{
  width: calc(100% - 250px);
  height: 70px;
  background-color: blue;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  padding: 20px 10px 20px 10px;
  background-color: rgba(0, 0, 0, 0.4);
}
#upgrade{
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: 1px solid white;
  padding: 10px 30px;
  border-radius: 30px ;
  cursor: pointer;
}

/* ASIDE-MENU */

  #aside-menu{
    height: calc(100% - 90px);
    background-color: var(--color-black);
    color: var(--color-grey);
    font-size: 0.8em;
    padding-bottom: 0;
  }
  #logo{
    padding-bottom: 10px;
  }
  .menu-button ul li:hover{
    color: white;
    cursor: pointer;
  }
  .playlist h4{
    font-weight: 600;
    color: white;
  }
  .install-app{
    border-bottom: 1px solid var(--color-grey);
  }
 
/* MAIN-CONTENT */

#main-content{
  overflow-y:auto ;
  background-color: var(--color-dark-color);
}
#main-content nav{
  color: var(--color-grey);
}

#recently{
  color: var(--color-white);
}
#main-content small{
  color: var grey;
}

.img-album{
  position: relative;
}
.play-icon{
  display: none;
}
.img-album img:hover .play-icon{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

  /* COL */
  .col{
    width: calc(100% / 6);
  }

















/* PLAYBAR */
#playbar{
  width: 100%; 
  height: 90px;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1000; 
  background-color: var(--color-grey);
}
