/* GENERALS */
:root {
	--color-dark-color: #141922;
	--color-dark-grey: #282828;
	--color-black: #000000;
	--color-white: #FFFFFF;
	--color-grey: #717171;
	--color-light-grey: #C1C1C1;
	--color-highlight: #ADFF2F;
  --color-navy: #080B12;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9em;
}
img{
  width: 100%;
}

ul li, a{
  text-decoration: none;
  list-style: none;
  color: var(--color-light-grey);
}



/* CONTAINERS */
.wrapper{
  width: 100%;
  height: 100vh;
  background-color: red;
}

main{
  width: 100%;
  height: calc(100% - 90px);
  background-color: #ADFF2F;
}
#aside-menu{
  width: 250px;
  overflow-y: hidden;
}
#aside-menu a{
  color: var(--color-grey);
}
#aside-menu a:hover{
  color: var(--color-white);
}

#logo-wide{
  width: 60%;
}

#main-content{
  width: calc(100% - 250px);
  padding: 90px 10px 10px 10px;
}
.half-container{
  width: 60%;
  margin: 0 auto;
}

/* UTILITIES */

.text-center{
  text-align: center;
}
.text-upp{
  text-transform: uppercase;
}
.text-grey{
  color: var(--color-grey);
}

  /* Paddingg */
  .padd{
    padding: 10px;
  }
  .padd-m{
    padding: 20px;
  }
  .padd-l{
    padding: 30px;
  }
  .padd-xl{
    padding: 40px;
  }
  .special-padd{
    padding: 10px 10px 10px 0;
  }
  .padd-left{
    padding-left: 10px;
  }
  .padd-right{
    padding-right: 10px;
  }

    /* Asse y */
    .paddy{
      padding-top: 5px;
      padding-bottom: 5px;
    }
    .paddy-m{
      padding-top: 20px;
      padding-bottom: 20px;
    }
    .paddy-l{
      padding-top: 30px;
      padding-bottom: 30px;
    }

    /* Asse x */
    .paddx{
      padding-right: 10px;
      padding-left: 10px;
    }
    .paddx-m{
      padding-right: 20px;
      padding-left: 20px;
    }
    .paddx-l{
      padding-right: 30px;
      padding-left: 30px;
    }
  

/* FLEX */
.d-flex{
  display: flex;
}
.d-flex-reverse{
  display: flex;
  flex-flow: row-reverse;
}
.align-center{
  align-items: center;
  align-content: center;
}
.align-base{
  align-items: baseline;
}
.justify-around{
  justify-content: space-around;
}
.wrap{
  flex-wrap: wrap;
}
.stretch{
  justify-content: stretch;
}
.colum{
  display: flex;
  flex-flow: column nowrap;
}
.space-between{
  justify-content: space-between;
}
/* ***************************************** */

/* TOPBAR */
#topbar{
  width: calc(100% - 250px);
  height: 70px;
  background-color: blue;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  padding: 20px 10px 20px 10px;
  background-color: rgba(0, 0, 0, 0.4);
}
#upgrade{
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: 1px solid white;
  padding: 10px 30px;
  border-radius: 30px ;
  cursor: pointer;
}

/* ******************* 
ASIDE-MENU 
******************** */

  #aside-menu{
    height: 100%;
    background-color: var(--color-black);
    color: var(--color-light-grey);
    font-size: 0.8em;
    padding-bottom: 0;
  
  }
  #logo{
    padding-bottom: 10px;
  }

  #logo-small{
    display: none;
  }

  .menu-down{
    height: 80px;
  }
  .menu-top{
    height: calc(100% - 80px);
  }
  .menu-top .menu-home img{
    max-width: 25px;

  }
  .highlighted-side{
    border-left: 3px solid transparent;
    background-color: transparent;
    height: 2em;
  }
  .menu-home ul li:hover .highlighted-side{
    background-color: var(--color-highlight);
  }
  .menu-home ul li:hover{
    cursor: pointer;
    color: var(--color-white);
  }
  .menu-down ul li:hover{

    color: white;
    cursor: pointer;
  }
  .user{
    padding-bottom: 10px;
  }

  .playlist{
    overflow: hidden;
  }

  .more-playlist{
    height: 80%;
    overflow-y: auto;
    sc
  }


  .playlist h4{
    font-weight: 600;
    color: white;
  }
  .install-app{
    border-bottom: 1px solid var(--color-grey);
  }

/* ************************* 
MAIN-CONTENT 
************************* */

#main-content{
  overflow-y:auto ;
  background-color: var(--color-dark-color);
}
#main-content nav{
  color: var(--color-light-grey);
}
#main-content nav ul li{
  padding: 5px;
}
main section{
  color: var(--color-white);
}

#main-content nav li{
  color: var(--color-light-grey);
}

main .col:hover{
  cursor: pointer;
}

.hide-menu{
  display: none;
}

.highlighted{
  background: transparent;
  border-bottom: 2px solid transparent;
  width: 40px;
  margin: 0 auto;
  margin-top: 5px;
}
nav li:hover{
  cursor: pointer;
}
nav li:hover a{
  color: var(--color-white);
}

nav li:hover .highlighted{
  background-color: var(--color-highlight);
}

  /* SECTION1 */
.img-album{
  position: relative;
}
.play-icon{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.8s ease;
}
 .img-album:hover .play-icon{
  opacity: 1;
 }
.play-icon:hover{
  transform: translate(-50%, -50%) scale(1.1);
  color:var(--color-highlight) ;
}
  .col{
    width: calc(100% / 6);
  }

/* section 3 */


#popular-artist img {
  width: 100%;
  border-radius: 50%;
}
#popular-artist{
  color: var(--color-white);
}


/* *******************
PLAYBAR 
**********************/
#playbar{
  width: 100%; 
  height: 90px;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1000; 
  background-color: var(--color-dark-grey);
  padding: 10px;
}

#play-left{
  width: 250px;
}
#play-left h5{
  color: var(--color-white);
  cursor: pointer;
}
#play-left i{
  color: var(--color-light-grey);
  cursor: pointer;
}
.play-album-title small{
  color: var(--color-light-grey);
  cursor: pointer;
}

#album-played{
  width: 50px;
  transition: all 2s;
}

.full-heart{
  display: none;
}
#play-left i:hover{
  transform: scale(1.2);
}
#album-played img:hover{
  filter: opacity(0.6);
  cursor: pointer;
  transform: scale(1.2);
}



#play-center{
  width: 30%;
  color: var(--color-white);
  transition: transform (2s);
}
.play-center-top{
  width: 60%;
  padding: 10px 0;

}
.play-center-top i:hover{
  transform: scale(1.2);
  color: var(--color-highlight);
}

.play-center-down{
  width: 100%;
  padding-top: 10px;
}
.play-center-down input{
  width: 100%;
}

#play-left i{
  transition: all 0.2s;
  cursor: pointer;
  padding: 5px;
}
#play-center i{
  transition: all 0.2s;
  cursor: pointer;
  padding: 5px;
}
#play-right i{
  transition: all 0.2s;
  cursor: pointer;
  padding: 5px;
}

#play-right i:hover{
  transform: scale(1.2);
  color: var(--color-highlight);
}


#play-right{
  width: 250px;
  color: var(--color-white);
}
.play-right-hidden{
  display: none;
}


#music-slider{
  appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background-color: var(--color-grey);
  opacity: 0.7;
}


#music-slider:hover{
  opacity: 1;
  cursor: pointer;
}

#volume-slider{
  appearance: none;
  width: 50%;
  height: 5px;
  border-radius: 5px;
  background-color: var(--color-grey);
  opacity: 0.7;
}


/*************************** 
MEDIA QUERY 
****************************/

@media screen and (max-width:1200px){
  
  #recently .col{
    width: calc(100% / 4);
  }
  #created-for .col{
    width: calc(100% / 4);
  }
  #popular-artist .col{
    width: calc(100% / 4);
  }
  .row{
    flex-wrap: wrap;
  }
}
@media screen and (max-width:992px){
  #recently .col{
    width: calc(100% / 3);
  }
  #created-for .col{
    width: calc(100% / 3);
  }
  #popular-artist  .col{
    width: calc(100% / 3);
  }
 
}

@media screen and (max-width:768px){
  #recently .col{
    width: calc(100% / 2);
  }
  #created-for .col{
    width: calc(100% / 2);
  }
  #popular-artist  .col{
    width: calc(100% / 2);
  }
  .half-container{
    width: 80%;
  }
  #main-content ul {
    flex-flow: row wrap;
    justify-content: space-evenly;
  }
  #play-left i{
    display: none;
  }
  #play-right input{
    display: none;
  }
  #play-right div{
    justify-content: flex-end;
  }
  .play-center-down span{
    display: none;
  }
  #play-center{
    width: 40%;
  }
  #play-right{
    width: 20%;
  }
  #play-left{
    width: 20%;
  }
}



@media screen and (max-width:576px){

  #logo-wide{
    display: none;
  }
  #logo-small{
    display: flex;
    width: 30px;
  }
  
  #aside-menu .menu-home span{
    display: none;
  }
  #aside-menu .playlist{
    display: none;
  }
  #aside-menu .menu-down{
    display: none;
  }
  #aside-menu{
    width: 15%;
  }
  #main-content{
    width: calc(100% - 15%);
  }
  #topbar{
    width: calc(100% - 15%);
  }

  #main-content ul li {
    width: calc(100% / 2);
  }
  .half-container{
    width: 90%;
  }
  .play-center-down{
    display: none;
  }
  .play-center-top {
    width: 100%;
  }

  .play-album-title{
    display: none;
  }



}

@media screen and (max-width:400px){

  .half-container{
    width: 100%;
  }
  #recently .col{
    width: 100%;
  }
  #created-for .col{
    width: 100%;
  }
  #popular-artist  .col{
    width: 100%;
  }
  #logo-small{
    width: 20px;
  }

  #main-content nav .half-container{
    display: none;
  }

  #main-content nav .hide-menu{
    display: flex;
    justify-content: center;
  }
  #play-center{
    width: 100%;
  }

  .i-right{
    display: none;
  }
  .play-right-hidden{
    display: flex;
  }

}





